<div class="container-fluid">
  <div class="col-md-4"></div>
  <div class="col-md-4 login">
    <form method="post" novalidate class="add-team-form">
      <div class="form-group">
        <label>Team Name</label>
        <input type="text" class="form-control" placeholder="enter team name here" ng-model="teamName">
      </div>
      <div class="form-group">
        <label>Select Sport</label>
        <select class="form-control" ng-model="teamSport">
          <option value="Baseball">Baseball</option>
          <option value="Basketball">Basketball -- Coming Soon!</option>
          <option value="Football">Football -- Coming Soon!</option>
          <option value="Hockey">Hockey -- Coming Soon!</option>
          <option value="Soccer">Soccer -- Coming Soon!</option>
        </select>
      </div>
      <div class="form-group">
        <label>Select Level of Competition</label>
        <select class="form-control" ng-model="teamLevel">
          <option value="Professional">Professional</option>
          <option value="Minors">Minor League</option>
          <option value="College">College</option>
          <option value="High School">High School</option>
          <option value="Little League">Little League</option>
        </select>
      </div>

      <div class="form-group">
        <label>Location (State)</label>
        <input type="text" list="states" name="name" value="" placeholder="begin typing your state" class="form-control" ng-model="teamLocation">
        <datalist id="states">
          <option value="Alabama">
          <option value="Alaska">
          <option value="Arizona">
          <option value="Arkansas">
          <option value="California">
          <option value="Colorado">
          <option value="Connecticut">
          <option value="Delaware">
          <option value="District of Columbia">
          <option value="Florida">
          <option value="Georgia">
          <option value="Hawaii">
          <option value="Idaho">
          <option value="Illinois">
          <option value="Indiana">
          <option value="Iowa">
          <option value="Kansas">
          <option value="Kentucky">
          <option value="Louisiana">
          <option value="Maine">
          <option value="Maryland">
          <option value="Massachusetts">
          <option value="Michigan">
          <option value="Minnesota">
          <option value="Mississippi">
          <option value="Missouri">
          <option value="Montana">
          <option value="Nebraska">
          <option value="Nevada">
          <option value="New Hampshire">
          <option value="New Jersey">
          <option value="New Mexico">
          <option value="New York">
          <option value="North Carolina">
          <option value="North Dakota">
          <option value="Ohio">
          <option value="Oklahoma">
          <option value="Oregon">
          <option value="Pennsylvania">
          <option value="Rhode Island">
          <option value="South Carolina">
          <option value="South Dakota">
          <option value="Tennessee">
          <option value="Texas">
          <option value="Utah">
          <option value="Vermont">
          <option value="Virginia">
          <option value="Washington">
          <option value="West Virginia">
          <option value="Wisconsin">
          <option value="Wyoming">
        </datalist>
      </div>
      <div class="row">
        <button type="submit" ng-click="submit()" class="btn btn-default" name="button">Create Team</button>
      </div>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
