<div class="container-fluid">
  <div class="col-md-6 login">
    <form>
      <div class="form-group">
        <label>Player Name</label>
        <input type="text" class="form-control" placeholder="enter player's name here" ng-model="playerName">
      </div>
      <div class="form-group">
        <label>Player Age</label>
        <input type="text" class="form-control" placeholder="enter player's age here" ng-model="playerAge">
      </div>
      <div class="form-group">
        <label>Number</label>
        <input type="text" class="form-control" placeholder="enter player's number here" ng-model="playerNumber">
      </div>
      <div class="row">
        <button type="submit" class="btn btn-default" name="button" ng-click="submitPlayer()">Add This Player</button>
      </div>
    </form>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-4 login">
    <span class="dashboardText">Roster</span><br>
    <span class="dashboardText">------------</span>
    <ul class="liveRoster" style="list-style: none;">
      <li ng-repeat="player in playerList">
        <div class="col-md-6">
          {{player.number}}
        </div>
        <div class="col-md-6">
          {{player.player_name}}
        </div>
      </li>
    </ul>
    <button type="submit" class="btn btn-default finishedButton" name="button" ng-click="finished()">Finished</button>
  </div>
  <div class="col-md-1"></div>
</div>
