<div class="container-fluid">
  <div class="row dashboard">
    <div class="col-md-4">
      <span class="dashboardText">Roster Dashboard</span>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 rosterButtons">
      <a href="#/add-player"><button type="button" name="button" class="btn btn-default"><i class="icon-plus pull-right"></i>Add Player</button></a>
      <a href="#/add-batting-stats"><button type="button" name="button" class="btn btn-default">Add Stats</button></a>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <col width="10%">
          <col width="40%">
          <col width="10%">
          <col width="10%">
          <col width="10%">
          <col width="10%">
          <th>#</th>
          <th>Name</th>
          <th>BA</th>
          <th>H</th>
          <th>RBI</th>
          <th>ERA</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in bStats" ng-click="goToPlayer(player.player_id)" class="tableRows">
          <td>{{player.number}}</td>
          <td>{{player.player_name}}</td>
          <td>{{player.BA}}</td>
          <td>{{player.H}}</td>
          <td>{{player.RBI}}</td>
          <td>{{player.ERA}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
